<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="NReco.PdfGenerator" version="1.0.3.0" targetFramework="net40" />
  <package id="WkHtmlToXSharp" version="1.2.27" targetFramework="net40" />
  <package id="WkHtmlToXSharp.Win32" version="1.2.27" targetFramework="net40" />
</packages>